.card{
    border: 1px solid lightpink;
    margin: 10px;
}

code{
    background-color: lightpink;
    border-radius: 10px;
    padding: 5px;
}

.rx{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.rx small:hover{
    cursor: pointer;
    transform: scale(1.3);
}